 p.headerfontadjustments {
  font-size: var(--my-headerfontadjustment) !important;
  font-weight: var(--my-headerfontweightadjustment) !important;
}
p.subheaderfontadjustments {
  font-size: var(--my-subheaderfontadjustment);
  font-weight: var(--my-subheaderfontweightadjustment);
}
/*
.secondform {
  background-color: lightblue;
  padding: 20px;
}
.recordedit {
  display: flex;
  background-color: white;
  box-shadow: 5px 10px 18px #888888;
}
.recordedit_1 {
  padding: 43px;
} */

/* .slds-input {
    border: none;
    border-bottom: 1px solid !important;
    border-radius: inherit !important;
  } */
