.maincontainerr {
background-color: var(--my-maincontainer);
}
.c-container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    border-radius: 13px;
    width: 75% ;
    height: 130%;
    overflow: hidden;
}
.imgdiv{
    width: 108%;
    height: 100%;
    /* margin-left: -25px; */
    max-width: 110% !important;
}

/* 
img.field-title {
    width: 110% !important;
} */
.fordiv{
    display: grid;
    justify-content: center;    
}
.firstcol {
    font-size: 56px;
    margin: 30px 0 16px 0;
    line-height: 32px;
    color: var(--my-heading);
    font-weight: 700;
    font-family: inherit;
}
.int {
    margin-bottom: 15px;
    margin-top: -81px;
}
.subheadng{
    line-height: 26px;
    font-size: 18px;
    font-weight: 500;
    margin: -47px 0 16px 0;
    color: var(--my-body);
}
.btn {
    font-size: 12px;
    margin: -12px -17px 0 0;
}
 .btn1{
    /* padding: 20px; */
    /* margin: 0 0 15px 0; */
    font-size: 12px;
    /* font-weight: 600; */
} 
.inputtt{
    width: 100%;
    line-height: 19px;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid;
    
}
.bttn{
    width: 100%;
    display: flex;
    margin: -127px 0px 3px;
    justify-content: space-between;
    /* align-items: baseline; */
    margin-bottom: -4rem;
}
.btnnn{
    /* padding: 20px 20px 20px 20px; */
    border-radius: 21px;
    width: 71px;
    color: white;
    background-color: var(--my-body);
    border: none;
    height: 33px;
    width: 80px;
    letter-spacing: 2px;
    width: 6rem;
    font-size: 0.9rem;
    height: 1.9rem;
}

.cardCenter{
    display: flex;
    justify-content: center;
}
.link {
    color: var(--my-body);
}

@media only screen and (max-width: 768px) {
    .c-container{
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        background-color: white;
        border-radius: 13px;
        width: 110% ;
        height: 130%;
        overflow: hidden;
    }
    .subheadng{
        line-height: 19px;
        font-size: 19px;
        font-weight: 700;
        margin: -5px 0 0px 0;
    }
    .int {
        margin-bottom: 15px;
        margin-top: -23px;
    }
    .bttn{
        width: 100%;
        display: flex;
        margin: -17px 0px 30px;
        justify-content: space-between;
        align-items: baseline;
    }
}