lightning-accordion {
  --my-allignment: center;
}

.example-accordion {
  text-align: var(--my-allignment);
  padding-top: var(--my-verticalpadding);
  padding-left: var(--my-horizontalpadding);
  padding-bottom: var(--my-bottompadding);
  padding-right: var(--my-rightpadding);

}
.section-control {
  background-color: bisque;
}
.answer_style {
  padding-top: 9px;
  margin-left: 23px;
}
